.my-message {
  background-color: #dcf8c6;
  text-align: right;
}
.other-message {
  background-color: #ffffff;
  text-align: left;
}
.dot-flashing {
  width: 6px;
  height: 6px;
  background-color: #555;
  border-radius: 50%;
  animation: dotFlashing 1s infinite linear alternate;
  margin-left: 4px;
}

@keyframes dotFlashing {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
::ng-deep .emoji-mart {
  font-family: inherit !important;
}
